html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}


.SignUpPageWrapper {
    height: 100vh;
    width: 100%;
    background-color: #F8FFF5;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpPageTitleWrapper {
    width: 75%; 
    background-color: none;
}
.SignUpPageTitleWrapper p:first-child {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
}
.SignUpPageTitleWrapper p:last-child {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    margin-top: 5px;
    color: #333333;
}




@media (max-width: 1197px), (max-height: 909px) {
    .SignUpPageWrapper {
        display: none;
    }
    .unsupportedMessage {
        display: block;
        margin: auto;
    }
    body {
        display:flex; 
        justify-content: center;
        align-items: center;
        height: 100vh;
  }
}