.SideBarLinkIndividualBottom {
    width: 95%;
    background-color: #F9F9F9;
    height: 50px;
    align-items: center;
    border-radius: 14px;
    display: flex;                /* Flexbox makes it easy */
    align-items: center;          /* Vertically center */
    justify-content: flex-start;
    box-sizing: border-box; 
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    border: none;

    color: #333333;


}
.SideBarLinkIndividualBottom:hover {
    background-color: #F2F2F2;
}

.SideBarLinkIndividualBottom img {
  margin-right: 20px;
  margin-left: 10px;
  width: 16.5px;
  height: 16.5px;
  stroke-width: 2px;
  /* filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(94%) contrast(93%); */
}




